*{margin:0; padding: 0}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #1C2A33;
    color: rgb(227, 230, 228);
    padding: 3% 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.article {
    margin: 20px auto;
    width: auto;
    height: auto;
    background-color: #46525E;
    border: 4px solid #0E0E0E;
    border-radius: 7px;
    text-align: left;
    padding: 30px 40px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    color: #aaafa0;
}

b {
    display: block;
    text-align: center;
    color: #89aff5 ;
    margin-bottom: 15px;
}

i {
    display: block;
    margin-bottom: 15px;
    color: #52cada;
}

p {
    display: block;
    box-sizing: border-box;
}

span {
    margin-left: 10px;
}

.btn-style {
  width: 150px;
  height: 35px;
  text-align: center;
  padding: 6px 14px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn-style:hover {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
  cursor: pointer;
  transition: .2s ease-in;
}

.btn-style:active {  
box-shadow: none;
font-size: small;
}